<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    </head>
    <body>
    <div>
      <p class="lead">Yatırım Tavsiyesi Değildi {a}r</p>
      <table class="table table-dark table-striped mt-5 w-75 position-absolute top-50 start-50 translate-middle">
        <thead>
          <tr>
            <th scope="col">Saat</th>
            <th scope="col">Bought/Sold</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">13:00</th>
            <td>Sold $1300</td>
            <td>0,030</td>
          </tr>
          <tr>
            <th scope="row">12:30</th>
            <td>Bought $1000</td>
            <td>0,033</td>
          </tr>
          <tr>
            <th scope="row">12:00</th>
            <td>Sold $1200</td>
            <td>0,029</td>
          </tr>
        </tbody>
      </table>
    </div>
  

</html>